{% extends "base2.html" %}
{% block title %}Singapore Airlines - Update Flight{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<h1 class="display-4">Update Flight</h1>

<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.flight_number, class="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.departure_country, class="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.arrival_country, class="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.departure_date, class="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.fly, class="form-control")}}
    </div><br>
    <div class="form-group">
        {{render_field(form.flight_type, class="form-control")}}
    </div><br>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</main>
{% endblock %}